.blockTimer  {
    display: flex;
    justify-content: center;
    font-size: 100px;
    color: white;
    margin-top:50px;
}
svg {

}
.blockBtn {
    display: flex;
    justify-content: center;
        margin-top:50px;
}
.btn {
    width: 200px;
    height: 100px;
    background-color: transparent;
    outline: none;
    border: 1px solid white;
    color: white;
    border-radius: 50px;
    font-size: 30px;
}
.progress {
    stroke-dashoffset: 942;
    stroke-dasharray: 942;
    transition: 1000ms stroke-dashoffset;
}
